<h1>Programs</h1>


<div>
    <input type="button" class="btn btn-primary" value="Create" onclick="location.href='{{edit_url}}'" />
</div>

<div>
    {{#programs_list}}
        <div class="list-inline-item">
            <a href="{{edit_url}}?programid={{id}}">{{name}}</a>
        </div>
    {{/programs_list}}
</div>