.table-container {
    padding: 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* Light shadow */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06);

    &.sub-domain-table-container {
        margin-bottom: 30px;
    }

    .table-title-container {
        padding: 15px;

        .table-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.85);
        }

        .table-sub-title {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: rgba(0, 0, 0, 0.6);
            margin-top: 12px;
        }
    }

    .domain-notification-text, .subdomain-notification-text {
        display: inline-block;
        max-width: 60%;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        border: 1px solid #FFE58F;
        border-radius: 2px;
        background-color: #FFFBE6;
        background-image: url("../img/orange-exclamation-icon.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 17px;
        background-size: 14px 14px;
        margin: 0 15px 15px 15px;
        padding: 10px 10px 10px 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.85);

        .highlight-in-notification {
            text-decoration: underline;
        }

        &.error {
            background-image: url("../img/red-failed-icon.png");
            background-color: #FFF1F0;
            border: 1px solid #FFCCC7;
        }

        &.success {
            background-image: url("../img/green-checkmark-icon.png");
            background-color: #F6FFED;
            border: 1px solid #B7EB8F;
        }
    }

    .create-domain-form-container, .create-subdomain-form-container {
        form.mform {
            padding: 0 15px 15px 15px;

            .form-group.row {
                margin: 0;
                display: inline-block;

                .col-form-label {
                    display: none !important;
                }

                .form-inline {
                    padding: 0;
                    //display: inline-block;
                    max-width: 100%;

                    input.form-control {
                        background: url("../img/earth-icon.png") no-repeat no-repeat left;
                        background-position-x: 12px;
                        padding-left: 35px;
                        width: 345px;
                        height: 40px;
                        border: 1px solid #D9D9D9;
                        box-sizing: border-box;
                        border-radius: 2px 0 0 2px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;

                        &#subdomain_name_input {
                            width: 242px;
                        }
                    }

                    select#id_domainid {
                        height: 40px;
                        left: 242px;
                        top: 0;
                        background-image: url("../img/down-arrow.png");
                        background-color: #FFFFFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 24px;
                        color: #000;
                        border: 1px solid #D9D9D9;
                        cursor: pointer;
                        transition: 1s;

                        &:hover {
                            background-color: #D9D9D9;
                        }
                    }

                    input.btn.btn-primary {
                        padding: 0 16px;
                        height: 40px;
                        /* Daybreak Blue / 6 */
                        background: #1890FF;
                        /* Daybreak Blue / 6 */
                        border: 1px solid #1890FF;
                        box-sizing: border-box;
                        /* drop-shadow / button-primary */
                        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
                        border-radius: 0 2px 2px 0;

                    }
                }
            }
        }
    }

    .domains-list-container {
        margin-top: 18px;

        .table.domains-list {
            .list-title {
                background: #FAFAFA;
                box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);
                border-radius: 0;
                border-top: none;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.85);
                padding-left: 15px;

                &.list-title-first {
                    box-shadow: 0 0 0px -17px rgba(0, 0, 0, 0.06);
                }
            }

            td {
                border-top: 1px solid rgba(0, 0, 0, 0.06);
                padding-left: 15px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #0D2138;

                .status-pill {
                    padding: 4px;
                    position: static;
                    width: 57px;
                    height: 23px;
                    left: 10px;
                    top: 10px;
                    border-radius: 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;

                    &.green-pill {
                        background: #52C41A;
                    }

                    &.red-pill {
                        background: #FF7875;
                    }
                }

                .primary-domain-radio {
                    background-image: url("../img/primary-domain-radio.png");
                    vertical-align: middle;
                    background-position-y: center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    border: none;

                    &.primary-domain-selected {
                        background-image: url("../img/primary-domain-selected.png");
                    }
                }

                .primary-domain-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    color: #1890FF;
                }

                .delete-item-link {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../img/delete-icon.png") no-repeat no-repeat left;
                }

                .verify-item-link {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: center;
                    color: #1890FF;
                    border: 1px solid #1890FF;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 5px 10px;
                    margin-right: 10px;

                    &.disabled-link {
                        cursor: not-allowed;
                        opacity: 0.5;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}