<h1>List of Notifications</h1>

{{#notification_list}}
    <p>{{ notificationtext }}</p>
{{/notification_list}}

<input type="button" class="btn btn-primary" value="Create" onclick="location.href='{{edit_url}}'" />