#campaign_table_header {
    height: 80px;
    margin-top: -2rem; // remove the top margin and padding created by default block

    .table-title {
        line-height: 80px;
        font-size: 20px;
        //font-family: "Roboto";
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        margin-left: 24px;
    }

    .title-question-icon {
        font-size: 23px;
        color: rgb(203, 213, 225);
        vertical-align: inherit;
        margin-left: 11px;
        cursor: pointer;
        transition: 1s;

        &:hover {
            color: rgb(24, 144, 255);
        }
    }

    .table-selector-container {
        float: right;
        line-height: 80px;
        margin-right: 34px;

        .table-update-date-text {
            margin: auto 12px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            align-items: center;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.35);
        }

        .table-selector {
            display: inline-block;

            .table-selector-title {
                margin-right: 12px;
            }
        }
    }
}

.ant-table-wrapper {
    .progress-icons-container {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgb(101, 112, 141);
        margin-left: 10px;

        .progress-icon {
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #65708D;
            margin-left: 8px;

            .icon-dot {
                width: 12px;
                height: 10px;
                display: inline-block;
                border-radius: 3px;
                margin-right: 7px;

                &.completed-icon-dot {
                    background: #1890FF;
                }

                &.in-progress-icon-icon-dot {
                    background: #48D597;
                }

                &.not-started-icon-icon-dot {
                    background: #DA291C;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    #campaign_table_container {

        #campaign_table_header {
              .table-title {
                  margin-left: 0;
              }

            .table-selector-container {
                line-height: 30px;
                width: 100%;
                margin: 0 0 30px 0;

                .table-update-date-text {
                    margin: auto 0;
                }
            }
        }

        .progress-icons-container {
            margin: 0;

            .progress-icon {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

