.users-table-container .users-header-banner {
  height: 80px;
}
.users-table-container .users-header-banner .users-header-title {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 80px;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 15px;
}
.users-table-container .users-header-banner .users-header-buttons-container {
  display: inline-block;
  right: 0;
  float: right;
  margin: auto;
}
.users-table-container .users-header-banner .users-header-buttons-container .add-new-user-button {
  padding: 5px 15px;
  background: #1890FF;
  border: 1px solid #1890FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  line-height: 22px;
  display: inline-block;
  margin: 22px 0;
}
.users-table-container .users-header-banner .users-header-buttons-container .upload-user-file-button {
  padding: 5px 15px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  margin: 22px 0px;
}
.users-table-container table.users-list .list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  background: #FAFAFA;
  box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);
  border-radius: 0;
}
.users-table-container table.users-list .list-title.list-title-first {
  box-shadow: 0 0 0px -17px rgba(0, 0, 0, 0.06);
}
.users-table-container table.users-list td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}
.users-table-container table.users-list td .edit-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 22px; */
  color: #1890FF;
  padding-right: 5px;
}
.users-table-container table.users-list td .delete-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 22px; */
  color: #1890FF;
  padding-left: 7.5px;
  border-left: 1px rgba(0, 0, 0, 0.06) solid;
}
.users-table-container .pagination {
  display: inline-block;
  float: right;
}
.users-table-container .pagination a.pagination-link {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.users-table-container .pagination a.pagination-link.active {
  color: #1890FF;
  border: 1px solid #1890FF;
}
.users-table-container .pagination a.pagination-link.disabled-link {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.users-table-container .pagination a.pagination-link:hover.disabled-link {
  background-color: #ddd;
}
.users-table-container .pagination a.pagination-link:hover:not(.active) {
  background-color: #ddd;
}

#page_modal_container .new-user-email-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}
#page_modal_container .new-user-email-input {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 12px;
}

/*# sourceMappingURL=index.css.map */
