@import "~antd/dist/antd.css";
@import "partials/progressbar";
@import "partials/campaigntable";
@import "partials/welcomebanner";
@import "partials/boostnavigation";

$summary_title_text: #718296;
$summary_num_text: #32325d;
$description_text: #525f7f;
$float_arrow_color: #48D597;

$ftnt_red: #DA291C;
$ftnt_green: #48D597;
$ftnt_blue: #307FE2;
$ftnt_teal: #2CCCD3;

$block_margin_top: 114px; // 90px(welcome banner height) + 24px(margin between banner and table)
$block_margin_top_mobile: 198px;

.block.block_custom_dashboard {
    margin-top: $block_margin_top
}

#app {
    height: 100%;
}

@media screen and (max-width: 992px){
    .block.block_custom_dashboard {
        margin-top: $block_margin_top_mobile
    }
}