@import "~antd/dist/antd.css";
@import "progressbar";
@import "campaigntable";

$summary_title_text: #718296;
$summary_num_text: #32325d;
$description_text: #525f7f;
$float_arrow_color: #48D597;

$ftnt_red: #DA291C;
$ftnt_green: #48D597;
$ftnt_blue: #307FE2;
$ftnt_teal: #2CCCD3;

#app {
    height: 100%;
}