<div class="container-fluid table-container sub-domain-table-container">
    <div class="table-title-container">
        <div class="table-title">
            Connect Your Domain
        </div>
        <div class="table-sub-title">
            Enter the domain name you want to connect.
        </div>
    </div>

    <div class="create-domain-form-container">
        {{{domainform}}}
    </div>

    <div class="add-token-notice-text">
        Add the token generated below as a DNS TXT record in your domain DNS configuration to prove that you own the domain.
    </div>

    <div class="domains-list-container">
        <table class="domains-list table table-hover">
            <tr>
                <th class="list-title list-title-first">Domain</th>
                <th class="list-title">Token</th>
                <th class="list-title">Status</th>
                <th class="list-title">Added Date</th>
                <th class="list-title">Actions</th>
            </tr>
            {{#active_domains_list}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{token}}</td>
                    <td>
                        {{#status}}
                            <span class="status-pill green-pill">Verified</span>
                        {{/status}}
                        {{^status}}
                            <span class="status-pill red-pill">Not Verified</span>
                        {{/status}}
                    </td>
                    <td>{{timecreated}}</td>
                    <td>
                        <a href="{{action_url}}?domainid={{id}}&action=delete" class="delete-item-link" id="delete_domain_button"></a>
                        <a href="{{action_url}}?domainid={{id}}&action=verify" class="verify-item-link" id="verify_domain_button"></a>
                    </td>
                </tr>
            {{/active_domains_list}}
        </table>
    </div>
</div>

<div class="container-fluid table-container domain-table-container">
    <div class="table-title-container">
        <div class="table-title">
            Set Domain for Learning Platform
        </div>
        <div class="table-sub-title">
            Enter the domain name you want to use for the learning platform.
        </div>
    </div>

    <div class="create-domain-form-container">
        {{{subdomainform}}}
    </div>

    <div class="domains-list-container">
        <table class="domains-list sub-domains-list table table-hover">
            <tr>
                <th class="list-title list-title-first">Domain Name</th>
                <th class="list-title">Status</th>
                <th class="list-title">Added Date</th>
                <th class="list-title">Primary Domain</th>
                <th class="list-title">CNAME</th>
                <th class="list-title">Actions</th>
            </tr>
            {{#active_subdomains_list}}
                <tr>
                    <td>{{name}}</td>
                    <td>
                        {{#status}}
                            <span class="status-pill green-pill">Connected</span>
                        {{/status}}
                        {{^status}}
                            <span class="status-pill red-pill">Pending</span>
                        {{/status}}
                    </td>
                    <td>{{timecreated}}</td>
                    <td>
                        {{#status}}
                            <button type="button"
                                    data-id="{{id}}"
                                    class="primary-domain-radio {{#primarydomain}}primary-domain-selected{{/primarydomain}}"
                                    data-toggle="modal"
                                    data-target="#page_modal_container">
                            </button>
                            {{#primarydomain}}<span class="primary-domain-text">Primary domain</span>{{/primarydomain}}
                        {{/status}}
                    </td>
                    <td>{{cname}}</td>
                    <td>
                        <a href="{{action_url}}?subdomainid={{id}}&action=delete" class="delete-item-link" id="delete_subdomain_button"></a>
                    </td>
                </tr>
            {{/active_subdomains_list}}
        </table>
    </div>
</div>
<div class="modal fade" id="page_modal_container" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set Primary Domain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirm to choose this domain as the Primary Domain?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

